@model AboutViewModel

@{
    ViewData["Title"] = "Sobre Mí";
}


@section Styles {
    <link href="~/css/about.css" rel="stylesheet" />
}


<div class="row">
    <div class="col-sm-12 col-md-12">
        <h1>Sobre Mí</h1>

    </div>
</div>



@* <div class="mr-img-container">
    <img src="~/assets/images/miguel_formula1.jpg" class="full-width" />
    <span class="mr-img-title">
        En la 'Formula 1: The Exhibition' en Madrid, agosto de 2023
    </span>
</div> *@
<div>
    <p>
        ¡Hola! Yo soy Miguel Romeral, desarrollador web y artista aficionado.
    </p>

    <div class="mr-ff-container" style="padding-top: 20px; padding-bottom: 20px;">
        <div class="mr-ff-container mr-ff-title-corner">
            Datos Básicos
        </div>
        <div class="mr-ff-image">
            <img src="~/assets/images/miguel.jpeg" />
        </div>
        <div class="mr-ff-stats">

            <div class="mr-ff-stats-basic">
                <span>
                    Miguel
                </span>
                <div class="level">
                    <div class="ff-hand-container">
                        <div class="hide-hand">
                            <img src="~/assets/icons/ff-pointer.png" class="ff-hand-icon" />
                        </div>
                        <span class="title">LV</span>
                        @{
                            DateTime fechaInicial = new DateTime(1996, 1, 12);
                            DateTime fechaActual = DateTime.Now;
                            int añosPasados = fechaActual.Year - fechaInicial.Year;
                            if (fechaActual.Month < fechaInicial.Month || (fechaActual.Month == fechaInicial.Month && fechaActual.Day < fechaInicial.Day))
                            {
                                añosPasados--;
                            }
                        }
                        <span class="value">@(añosPasados)</span>
                    </div>
                </div>
                <div class="mr-ff-stats-item level">
                    <div class="ff-hand-container">
                        <div class="hide-hand">
                            <img src="~/assets/icons/ff-pointer.png" class="ff-hand-icon" />
                        </div>
                        <span class="title">HP</span>
                        @{
                            int minHealth = 1000;
                            int maxHealth = 3315;
                            int health = new Random().Next(minHealth, maxHealth + 1);

                            double porcentaje = (double) health / (double) maxHealth;
                            int porcentajeEntero = (int)(porcentaje * 100);
                        }
                        <div>
                            <span class="value">@(health)/@(maxHealth)</span>
                            <div class="ff-progress-container">
                                <div class="ff-progress-total"></div>
                                <div class="ff-progress-health" style="width: @(porcentajeEntero)%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mr-ff-stats-item  magic">
                    <div class="ff-hand-container">
                        <div class="hide-hand">
                            <img src="~/assets/icons/ff-pointer.png" class="ff-hand-icon" />
                        </div>
                        <span class="title">MP</span>
                        @{
                            int minMagic = 10;
                            int maxMagic = 112;
                            int magic = new Random().Next(minMagic, maxMagic + 1);

                            double porcentajeMagic = (double)magic / (double)maxMagic;
                            int porcentajeMagicEntero = (int)(porcentajeMagic * 100);
                        }
                        <div>
                            <span class="value">@(magic)/@(maxMagic)</span>
                            <div class="ff-progress-container">
                                <div class="ff-progress-total"></div>
                                <div class="ff-progress-magic" style="width: @(porcentajeMagicEntero)%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mr-ff-stats-item basic">
                    <div class="ff-hand-container">
                        <div class="hide-hand">
                            <img src="~/assets/icons/ff-pointer.png" class="ff-hand-icon" />
                        </div>
                        <span class="title">😳</span>
                        <span class="value"><a href="https://www.humanmetrics.com/personalidad/istj" target="_blank">ISTJ</a></span>
                    </div>
                </div>
                <div class="mr-ff-stats-item basic">
                    <div class="ff-hand-container">
                        <div class="hide-hand">
                            <img src="~/assets/icons/ff-pointer.png" class="ff-hand-icon" />
                        </div>
                        <span class="title">💼</span>
                        <span class="value">Software Developer</span>
                    </div>
                </div>
                <div class="mr-ff-stats-item basic">
                    <div class="ff-hand-container">
                        <div class="hide-hand">
                            <img src="~/assets/icons/ff-pointer.png" class="ff-hand-icon" />
                        </div>
                        <span class="title">📅</span>
                        <span class="value">Enero de 1996 🐐</span>
                    </div>
                </div>
                <div class="mr-ff-stats-item basic">
                    <div class="ff-hand-container">
                        <div class="hide-hand">
                            <img src="~/assets/icons/ff-pointer.png" class="ff-hand-icon" />
                        </div>
                        <span class="title">👨‍🎓</span>
                        <span class="value">Universidad de Alcalá</span>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
    
    <div class="mr-ff-container">
        <div class="ff-hand-container">
            <div class="flicker">
                <img src="~/assets/icons/ff-pointer.png" class="ff-hand-icon" />
            </div>
            <span class="mr-ff-title">Artistas de Referencia</span>
        </div>
    </div>
    <div class="mr-ff-container">
        <div class="mr-references-section row">

        @foreach (var inspiration in Model.Inspirations.OrderBy(x => x.Name))
        {
            <div class="ff-hand-container mr-inspiration-item col-sm-5 col-md-4 col-lg-3">
                <div class="hide-hand" style="left: -22px;">
                    <img src="~/assets/icons/ff-pointer.png" class="ff-hand-icon" />
                </div>
                    @{
                        var materia = "";
                        switch (inspiration.Type)
                        {
                            case 1: 
                                materia = "summon";
                                break;
                            case 2:
                                materia = "support";
                                break;
                            case 3:
                                materia = "magic";
                                break;
                            default:
                                break;
                        }
                    }
                <div class="ff-materia @(materia)">
                </div>

                    <div class="mr-reference-name-container">
                <span class="title mr-inspiration-name">@inspiration.Name</span>
                <div>
                    <div class="mr-social-links">
                        <div>
                            @if (!String.IsNullOrEmpty(inspiration.Instagram))
                            {
                                <a href="@(inspiration.Instagram)" target="_blank">
                                    <i class="bi bi-instagram"></i>
                                </a>
                            }
                        </div>
                        <div>
                            @if (!String.IsNullOrEmpty(inspiration.Twitter))
                            {
                                <a href="@(inspiration.Twitter)" target="_blank">
                                    <i class="bi bi-twitter-x"></i>
                                </a>
                            }
                        </div>
                    </div>
                </div>
                
                
                </div>

            </div>
  
        }
        </div>

    </div>
</div>