@using MRA.Services
@model IndexModel

<h1>Lista de Archivos</h1>

<p>
    Test Push GitHub
</p>

<ul>
    @foreach (var fileInfo in Model.Blobs)
    {
        <li>
            <a href="@fileInfo.Url" target="_blank">@fileInfo.Name</a>
        </li>
    }
</ul>


<h2>Shoes</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Id</label>
            </th>
            <th>
                <label>Path</label>
            </th>
            <th>
                <label>URL</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shoe in Model.Drawings)
        {
            <tr>
                <td>
                    <label>@shoe.Id</label>
                </td>
                <td>
                    <label>@shoe.Path</label>
                </td>
                <td>
                    <img src="@(Model.BlobURL)@(shoe.Path)" width="300" height="auto">
                </td>
            </tr>
        }
    </tbody>
</table>
