@using MRA.Web.Models.Home
@using MRA.Web.Models.Images
@model IndexViewModel


@{
    ViewData["Title"] = "Inicio";
}

@section Styles {
    <link href="~/css/images.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/image-thumbnail.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/collections.css" rel="stylesheet" asp-append-version="true" />
}

@* <div class="row mb-2">

    <div class="col-sm-12">
        <h6>Otros menús</h6>
        <p>
            Accede a diferentes sitios de la web a través de alguno de estos enlaces.
        </p>
        <div class="mr-home-menu-container">
            <div class="mr-home-menu-item">
                🎨 <a href="@Url.Action("Index", "Art")">Ver la Gelería Completa</a>
            </div>
            <div class="mr-home-menu-item">
                🎶 <a href="@Url.Action("Playlist", "Spotify")">Escuchar playlist sugerida</a>
            </div>
            <div class="mr-home-menu-item">
                😳 <a href="@Url.Action("Index", "About")">Saber sobre mí</a>
            </div>
            <div class="mr-home-menu-item">
                ⚙ <a href="@Url.Action("Settings", "Home")">Cambiar ajustes</a>
            </div>
        </div>
    </div>
</div> *@

<div class="container">

<div class="row mb-2">
    <div class="col-sm-12">
        <h1>Colecciones</h1>
        <p>
            Aquí puedes ver una selección de diferentes imágenes en función de diferentes temas. Pulsa en cualquiera de ellas para ver más detalles.
        </p>
    </div>
</div>
<div class="row">

    @foreach (var col in Model.Collections.OrderBy(x => x.Order))
    {
        var numDrawings = col.Drawings.Count;
        var nameCarousel = "carousel" + col.Id;

        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 p-2">

            <div class="mr-collection-section">
                <div class="cuadrado2">
                    <div class="contenido2">
                        <div id="@(nameCarousel)" class="mr-carousel carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">

                                @for (int i = 0; i < numDrawings; i++)
                                {
                                    <div type="button" data-bs-target="#@(nameCarousel)" data-bs-slide-to="@(i)" class="mr-carousel-indicator @(i == 0 ? "active" : "")" aria-current="@(i == 0 ? "true" : "false")" aria-label="Slide @(i)">
                                    </div>
                                }
                            </div>
                            <div class="carousel-inner">
                                @for (int i = 0; i < numDrawings; i++)
                                {
                                    <div class="carousel-item @(i == 0 ? "active" : "")">
                                        <div class="mr-carousel-item-image">

                                            @{
                                                await Html.RenderPartialAsync("Images/_ImageThumbnail", new ImageThumbnailModel(col.Drawings[i]) { FullSize = true });
                                        }

                                        </div>

                                        @* <img src="@col.Drawings[i].UrlThumbnail" class="d-block w-100" alt="..."> *@
                                    </div>
                                }
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#@(nameCarousel)" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#@(nameCarousel)" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>

            
            <h3 class="mr-collection-title">@col.Name</h3>
            <div class="mr-collection-description">
                @Html.Raw(col.Description)
            </div>
            </div>

        </div>
    }
    </div>
</div>
