@using MRA.Services.Firebase.Models
@model Drawing
@{
    ViewBag.Title = $"Editando \"{Model.Id}\"";
}


@section Styles {
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/images.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/image-details.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/admin.css" rel="stylesheet" asp-append-version="true" />
}

<div class="container">
    <div class="row d-flex flex-row-reverse">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4">
            <div class="container mr-lista-imagenes">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12">
                        <label>Imagen A Tamaño Completo</label>
                        <img src="@Model.Url" id="imgPreviewFullSize" />
                    </div>
                    <div class="col-12 col-sm-12 col-md-12">
                        <label>Miniatura</label>
                        <img src="@Model.UrlThumbnail" id="imgPreviewThumbnail" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8">

            <div class="container">
                <form id="formDrawing" asp-action="SaveDrawing"
                      data-ajax="true" data-ajax-method="POST"
                      data-ajax-failure="onFailureSaveDrawing"
                      data-ajax-success="onSuccessSaveDrawing">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12">
                            <div class="mr-admin-form-control">
                                <input type="hidden" name="id" value="@Model.Id" />
                                <label>ID</label>
                                <div class="mr-not-editable-value">@Model.Id</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6">
                            <div class="mr-admin-form-control">
                                <label>Ruta en Azure</label>
                                <input asp-for="Path" id="azurePath" class="form-control mr-custom-text" type="text" placeholder="Ruta en Azure Container" value="@Model.Path" onchange="onChangeAzurePath(this)" />
                                <input id="iHiddenUrlThumbnail" type="hidden" asp-for="PathThumbnail" value="@Model.PathThumbnail" />
                            </div>
                        </div>
                    </div>
                    <div class="row" id="rowUploadToAzure" style="display: none;">
                        <div class="col-12 col-sm-12 col-md-6">
                            <img id="imgTmp" src="#" alt="Image que se va a subir">
                        </div>
                        <div class="col-12 col-sm-12 col-md-6">
                            <div class="mr-admin-form-control">
                                <label>Selecciona el Fichero</label>
                                <input name="azureImage" class="form-control" type="file" id="azureImage" accept="image/png, image/gif, image/jpeg" onchange="mostrarImagenAzureTmp()">
                            </div>
                            <div class="mr-admin-form-control">
                                <label>Tamaño de la miniatura</label>
                                <input name="azureImageThumbnailSize" class="form-control mr-custom-text" value="350" type="number" min="100" max="1000" id="azureImageThumbnailSize">
                            </div>
                            <button id="btnUploadToAzure" type="button" class="btn btn-primary mr-custom-btn" onclick="event.stopPropagation(); uploadAzureImage();">
                                <i class="bi bi-cloud-upload"></i><span class="mr-texto-button"> Subir a Azure</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-10">
                            <div class="mr-admin-form-control">
                                <label>Título del Dibujo</label>
                                <input asp-for="Title" class="form-control mr-custom-text" type="text" placeholder="Título del Dibujo" value="@Model.Title" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-2">
                            <div class="mr-admin-form-control">
                                <label>Favorito</label>
                                <input type="hidden" asp-for="Favorite"
                                       value="@(Model.Favorite ? "true" : "false")"
                                       id="@(nameof(Model.Favorite))Hidden" />

                                <input type="checkbox" name="@nameof(Model.Favorite)"
                                       class="form-control form-check-input mr-custom-checkbox"
                                       onchange="updateCheckValue(this);"
                                @(Model.Favorite ? "checked" : "") />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6">
                            <div class="mr-admin-form-control">
                                <label>Nombre del Personaje</label>
                                <input asp-for="Name" class="form-control mr-custom-text" type="text" placeholder="Nombre del personaje" value="@Model.Name" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6">
                            <div class="mr-admin-form-control">
                                <label>Nombre del Modelo</label>
                                <input asp-for="ModelName" class="form-control mr-custom-text" type="text" placeholder="Nombre del modelo" value="@Model.ModelName" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4">
                            <div class="mr-admin-form-control">
                                <label>Tipo de Dibujo</label>
                                <select asp-for="Type" class="mr-custom-select form-select form-select-sm" data-bs-theme="dark">
                                    <option value="0"></option>
                                    @foreach (var type in MRA.Services.Firebase.Models.Drawing.DRAWING_TYPES.Where(x => x.Key > 0).OrderBy(x => x.Value))
                                    {
                                        <option value="@(type.Key)">@(type.Value)</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4">
                            <div class="mr-admin-form-control">
                                <label>Software</label>
                                <select asp-for="Software" class="mr-custom-select form-select form-select-sm" data-bs-theme="dark">
                                    <option value="0"></option>
                                    @foreach (var type in MRA.Services.Firebase.Models.Drawing.DRAWING_SOFTWARE.Where(x => x.Key > 0).OrderBy(x => x.Value))
                                    {
                                        <option value="@(type.Key)">@(type.Value)</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4">
                            <div class="mr-admin-form-control">
                                <label>Tamaño de Papel</label>
                                <select asp-for="Paper" class="mr-custom-select form-select form-select-sm" data-bs-theme="dark">
                                    <option value="0"></option>
                                    @foreach (var type in MRA.Services.Firebase.Models.Drawing.DRAWING_PAPER_SIZE.Where(x => x.Key > 0 && x.Key > 3).OrderBy(x => x.Value))
                                    {
                                        <option value="@(type.Key)">@(type.Value)</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4">
                            <div class="mr-admin-form-control">
                                <label>Fecha de Creación</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4">
                            <div class="mr-admin-form-control">
                                <label>Puntuación</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4">
                            <div class="mr-admin-form-control">
                                <label>Tiempo en Minutos</label>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row mt-2">
                    <div class="col-12 col-sm-12 col-md-12">
                        <button class="btn btn-primary mr-custom-btn" onclick="sendForm();">
                            <i class="bi bi-floppy"></i> <span class="mr-texto-button"> Guardar Cambios</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/admin.js" asp-append-version="true"></script>
}