@using MRA.Web.Models.Art
@using MRA.Web.Models.Images
@model DetailsModel

@{
    var drawing = Model.Drawing;
    ViewData["Title"] = drawing?.Title ?? drawing?.Name ?? drawing?.Id ?? "Details";
}


@if (drawing != null)
{
    if (!String.IsNullOrEmpty(drawing.Title))
    {
        <h1 class="mr-image-page-title">@drawing.Title</h1>
    }

    <div class="row">
        <span>
            <h3>
                @Model.Drawing.Name
            </h3>
            <span class="badge rounded-pill @(Model.Drawing.IsTraditional ? "bg-secondary" : "bg-dark")">
                @(Model.Drawing.IsTraditional ? "Traditional" : "Digital")
            </span>
        </span>

    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">

            <div class="mr-first-column-image">
                <div class="mr-img-full-container heart-rain" ondblclick="cheerDrawing()">
                    <img src="@Model.Drawing.Url" class="mr-img-full rounded">
                    @*
                <div class="mr-badges-info">
                @if (!String.IsNullOrEmpty(Model.Drawing.Date))
                {
                <div class="mr-badges-info-item">
                📅 @Model.Drawing.FormattedDate
                </div>
                }
                @if (!String.IsNullOrEmpty(Model.Drawing.Time))
                {
                <div class="mr-badges-info-item">
                ⏱ @Model.Drawing.Time
                </div>
                }
                </div> *@

                </div>

                <div class="mr-stats-container">
                    <form id="cheerForm" asp-action="Cheer" asp-controller="Art"
                          data-ajax="true" data-ajax-method="POST"
                          data-ajax-begin="onBeginCheer" data-ajax-failure="OnFailureCheer"
                          data-ajax-success="onSuccessCheer" data-ajax-complete="onCompleteCheer">

                        <div class="mr-like-container">
                            <input type="hidden" name="id" value="@drawing.Id" />

                            <button id="btnCheer" type="button" class="btn btn-danger mr-like-button like-semaphore" onclick="cheerDrawing()">
                                <i id="iCheerIcon" class="bi bi-heart"></i> CHEER!
                            </button>
                        </div>
                    </form>

                    <div class="mr-stats-item" title="Views">
                        <i class="bi bi-eye"></i>
                        <span>@(drawing.Views + 1)</span>
                    </div>
                    <div class="mr-stats-item likes" title="Cheers">
                        <i class="bi bi-heart"></i>
                        <div id="divContainerLikes">
                            <div id="spLikesCounter">@(drawing.Likes)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="mr-social-container">

                <div class="mr-chat-container">
                    @{
                        var comments = drawing.ListComments;
                        for (int count = 0; count < comments.Count; count++)
                        {
                            var last = count + 1 == comments.Count;
                            <div class="mr-chat-row">
                                <div class="mr-chat-message-container">
                                    <div class="mr-chat-message @(last ? "last" : "")">
                                        @Html.Raw(comments[count])
                                    </div>
                                </div>
                                <div class="mr-chat-image">
                                    @if (last)
                                    {
                                        <img src="~/assets/images/miguel.jpeg" class="mr-chat-image-miguel" />
                                    }
                                </div>
                            </div>
                        }
                    }
                    @if (!String.IsNullOrEmpty(drawing.CommentPros))
                    {
                        <div class="mr-chat-row likes">
                            <div class="mr-chat-message-container">
                                @foreach (var comment in drawing.ListCommentPros)
                                {
                                    <div class="mr-chat-message">
                                        <span>@Html.Raw(comment)</span>
                                    </div>
                                }
                            </div>

                            <div class="mr-chat-image" title="Nice Details">
                                <i class="bi bi-star"></i>
                            </div>
                        </div>
                    }

                    @if (!String.IsNullOrEmpty(drawing.CommentCons))
                    {
                        <div class="mr-chat-row dislikes">
                            <div class="mr-chat-message-container">
                                @foreach (var comment in drawing.ListCommentCons)
                                {
                                    <div class="mr-chat-message">
                                        <span>@comment</span>
                                    </div>
                                }
                            </div>
                            <div class="mr-chat-image" title="Flaws">
                                <i class="bi bi-hand-thumbs-down"></i>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 mr-details-container">
            <h4>Details</h4>

            <div class="mr-details-section">
                <span class="mr-details-section-title">
                    📅 Date
                </span>
                <span class="mr-details-section-content capitalize">
                    @(String.IsNullOrEmpty(Model.Drawing.Date) ? "No Date Known" : Model.Drawing.FormattedDate)
                </span>
            </div>
            <div class="mr-details-section">
                <span class="mr-details-section-title">
                    ⏱ Time (estimated)
                </span>
                <span class="mr-details-section-content capitalize">
                    @(String.IsNullOrEmpty(Model.Drawing.Time) ? "No Time Known" : Model.Drawing.Time)
                </span>
            </div>
            @if (drawing.ProductType > 0 && !String.IsNullOrEmpty(drawing.ProductName))
            {
                <div class="mr-details-section">
                    <span class="mr-details-section-title">
                        @switch (drawing.ProductType)
                        {
                            case 1:
                                <span>🎮 Videogame</span>
                                break;
                            case 2:
                                <span>💽 Singer</span>
                                break;
                            default:
                                <span>Product</span>
                                break;
                        }
                    </span>
                    <span class="mr-details-section-content capitalize">
                        @(drawing.ProductName)
                    </span>
                </div>
            }
        </div>
    </div>

}
else
{
    <h6>Not Found</h6>
}


@section Scripts {
    <script src="~/js/art-gallery.js"></script>
}