@using MRA.Web.Models.Art
@using MRA.Web.Models.Images
@model DetailsModel

@{
    var drawing = Model.Drawing;
    if(!string.IsNullOrEmpty(drawing?.Title))
    {
        ViewData["Title"] = drawing?.Title;
    }
    else if (!string.IsNullOrEmpty(drawing?.Name))
    {
        ViewData["Title"] = drawing?.Name;
    }
    else if (!string.IsNullOrEmpty(drawing?.ModelName))
    {
        ViewData["Title"] = drawing?.ModelName;
    }
    else if(!string.IsNullOrEmpty(drawing?.Id)){
        ViewData["Title"] = drawing?.Id;
    }else
    {
        ViewData["Title"] = "Details";
    }
}

@section Styles {
    <link href="~/css/images.css" rel="stylesheet" />
    <link href="~/css/image-details.css" rel="stylesheet" />
}



@if (drawing != null)
{
    if (!String.IsNullOrEmpty(drawing.Title))
    {
        <h1 class="mr-image-page-title">@drawing.Title</h1>
    }

    <div class="row">

        @if (!String.IsNullOrEmpty(Model.Drawing.Name) && !String.IsNullOrEmpty(Model.Drawing.ModelName))
        {
            <h3 class="mr-image-detail-title">
                @Model.Drawing.Name
            </h3>
            <h5 class="mr-image-detail-subtitle">@Model.Drawing.ModelName</h5>
        }
        else if (!String.IsNullOrEmpty(Model.Drawing.Name))
        {
            <h3 class="mr-image-detail-title">
                @Model.Drawing.Name
            </h3>
        }
        else if (!String.IsNullOrEmpty(Model.Drawing.ModelName))
        {
            <h3 class="mr-image-detail-title">
                @Model.Drawing.ModelName
            </h3>
        }


    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 mb-2">

            <div class="mr-first-column-image">
                <div class="mr-img-full-container heart-rain @(drawing.Favorite ? "favorite" : "")" ondblclick="cheerDrawing()">
                    <img id="imgFull" src="@Model.Drawing.Url" class="mr-img-full" onerror="errorLoadingImage('@Model.Drawing.Id')">

                    <div class="mr-error-load-placeholder" data-error-drawing-id="@Model.Drawing.Id">
                        <span class="emoji">🙃</span>
                        <span class="subtitle">Image Not Found</span>
                    </div>

                    <i id="iFavoriteIcon" class="bi bi-star-fill" title="One of my favorites drawings."></i>
                </div>

                <div class="mr-stats-container">
                    <form id="cheerForm" asp-action="Cheer" asp-controller="Art"
                          data-ajax="true" data-ajax-method="POST"
                          data-ajax-begin="onBeginCheer" data-ajax-failure="OnFailureCheer"
                          data-ajax-success="onSuccessCheer" data-ajax-complete="onCompleteCheer">

                        <div class="mr-like-container">
                            <input type="hidden" name="id" value="@drawing.Id" />

                            <button id="btnCheer" type="button" class="btn btn-danger mr-like-button like-semaphore vibrate" onclick="cheerDrawing()">
                                <i id="iCheerIcon" class="bi bi-heart"></i> ¡ KUDOS !
                            </button>
                        </div>
                    </form>

                    <div class="mr-stats-item" title="Views">
                        <i class="bi bi-eye"></i>
                        <span>@(drawing.Views + 1)</span>
                    </div>
                    <div class="mr-stats-item likes" title="Kudos">
                        <i class="bi bi-heart"></i>
                        <div id="divContainerLikes">
                            <div id="spLikesCounter">@(drawing.Likes)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="mr-social-container">

                <div class="mr-chat-container" style="width: 100%;">
                    @{
                        var comments = drawing.ListComments;
                        for (int count = 0; count < comments.Count; count++)
                        {
                            var last = count + 1 == comments.Count;
                            <div class="mr-chat-row">
                                <div class="mr-chat-message-container slide-top">
                                    <div class="mr-chat-message @(last ? "last" : "")">
                                        @Html.Raw(comments[count])
                                    </div>
                                </div>
                                <div class="mr-chat-image">
                                    @if (last)
                                    {
                                        <img src="~/assets/images/miguel.jpeg" class="mr-chat-image-miguel slide-top" />
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-4 mr-row-pros-cons">
            <div class="mr-social-container" style="width: 100%;">
                <div class="mr-chat-container" style="width: 100%;">
                    @if (!String.IsNullOrEmpty(drawing.CommentPros))
                    {
                        <div class="mr-chat-row likes">
                            <div class="mr-chat-message-container slide-top delay1s">
                                @foreach (var comment in drawing.ListCommentPros)
                                {
                                    <div class="mr-chat-message">
                                        <span>@Html.Raw(comment)</span>
                                    </div>
                                }
                            </div>

                            <div class="mr-chat-image mr-chat-icon" title="Nice Details">
                                <i class="bi bi-hand-thumbs-up slide-top delay1s"></i>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="mr-social-container" style="width: 100%;">

                <div class="mr-chat-container" style="width: 100%;">
                    @if (!String.IsNullOrEmpty(drawing.CommentCons))
                    {
                        <div class="mr-chat-row dislikes">
                            <div class="mr-chat-message-container slide-top delay2s">
                                @foreach (var comment in drawing.ListCommentCons)
                                {
                                    <div class="mr-chat-message">
                                        <span>@comment</span>
                                    </div>
                                }
                            </div>
                            <div class="mr-chat-image mr-chat-icon" title="Flaws">
                                <i class="bi bi-hand-thumbs-down slide-top delay2s"></i>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
</div>
   <div class="row mb-2 mt-2">


    <div class="col-sm-12 col-sm-12 col-md-12 mb-2 mt-2">
        <h4>Detalles</h4>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 mr-details-section">
        <span class="mr-details-section-title">
            📅 Fecha
        </span>
        <span class="mr-details-section-content capitalize">
                @(String.IsNullOrEmpty(Model.Drawing.Date) ? "No Date Known" : Model.Drawing.FormattedDate)
        </span>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mr-details-section">
        <span class="mr-details-section-title">
            🕓 Tiempo (estimado)
        </span>
        <span class="mr-details-section-content capitalize">
                @Model.Drawing.TimeHuman
        </span>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mr-details-section">
        <span class="mr-details-section-title">
            🖌 Tipo
        </span>
        <span class="mr-details-section-content capitalize">
                @drawing.TypeName
        </span>
    </div>


        @if (drawing.Software > 0)
        {
            <div class="col-sm-12 col-md-6 col-lg-4 mr-details-section">
                <span class="mr-details-section-title">
                    💻 Software
                </span>
                <span class="mr-details-section-content capitalize">
                    @drawing.SoftwareName
                </span>
            </div>
        }

        @if (drawing.Paper > 0)
        {
            <div class="col-sm-12 col-md-6 col-lg-4 mr-details-section">
                <span class="mr-details-section-title">
                    📄 Tamaño de Papel
                </span>
                <span class="mr-details-section-content capitalize">
                    @drawing.PaperHuman
                </span>
            </div>
        }


        @if (drawing.ProductType > 0 && !String.IsNullOrEmpty(drawing.ProductName))
        {
        <div class="col-sm-12 col-md-6 col-lg-4 mr-details-section">
            <span class="mr-details-section-title">
                    @switch (drawing.ProductType)
                    {
                        case 1:
                        <span>🎮 Videojuego</span>
                            break;
                        case 2:
                        <span>🎞 Actor/Actriz</span>
                            break;
                        case 3:
                            <span>🎙 Cantante</span>
                            break;
                        case 4:
                            <span>⚽ Deporte</span>
                            break;
                        default:
                        <span>Producto</span>
                            break;
                    }
            </span>
            <span class="mr-details-section-content capitalize">
                    @(drawing.ProductName)
            </span>
        </div>
        }


        @if (!String.IsNullOrEmpty(drawing.ModelName))
        {
            <div class="col-sm-12 col-md-6 col-lg-4 mr-details-section">
                <span class="mr-details-section-title">
                    👤 Modelo
                </span>
                <span class="mr-details-section-content capitalize">
                    @drawing.ModelName
                </span>
            </div>
        }




            @if (!String.IsNullOrEmpty(drawing.ReferenceUrl))
            {
                <div class="col-sm-12 col-md-6 col-lg-4 mr-details-section">
                    <span class="mr-details-section-title">
                        🖼 Referencia
                    </span>
                    <span class="mr-details-section-content capitalize">
                        <a href="@(drawing.ReferenceUrl)" target="_blank">Abrir en nueva pestaña</a>
                    </span>
                </div>
            }
        </div>

}
else
{
    <h6>Not Found</h6>
}

@section Scripts {
    <script src="~/js/art-gallery.js"></script>
}