@using MRA.Web.Models.Art
@using MRA.Web.Models.Images
@model DetailsModel

@{
    var drawing = Model.Drawing;
    if (drawing != null)
    {
        ViewData["Title"] = drawing?.Title + " - " + drawing.Name;
    }
    else
    {
        ViewData["Title"] = "Details";
    }
}


<h1>@(drawing.Title ?? "Details")</h1>

@if (drawing != null)
{
    <h6>
        @Model.Drawing.Name
        <span class="badge rounded-pill @(Model.Drawing.IsTraditional ? "bg-secondary" : "bg-dark")">
            @(Model.Drawing.IsTraditional ? "Traditional" : "Digital")
        </span>
    </h6>


    <div class="mr-img-full-container">
        <img src="@Model.Drawing.Url" class="mr-img-full rounded">
    </div>

}
else
{
    <h6>Not Found</h6>
}