@using MRA.Web.Models.Art
@using MRA.Web.Models.Images
@model DetailsModel

@{
    var drawing = Model.Drawing;
    ViewData["Title"] = drawing?.Title ?? drawing?.Name ?? drawing?.Id ?? "Details";
}


<h1>@(drawing?.Title ?? "Details")</h1>


@if (drawing != null)
{
    <div class="row">
        <h6>
            @Model.Drawing.Name
            <span class="badge rounded-pill @(Model.Drawing.IsTraditional ? "bg-secondary" : "bg-dark")">
                @(Model.Drawing.IsTraditional ? "Traditional" : "Digital")
            </span>
        </h6>

    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">

            <div class="mr-first-column-image">
                <div class="mr-img-full-container heart-rain" ondblclick="cheerDrawing()">
                    <img src="@Model.Drawing.Url" class="mr-img-full rounded">

                    <div class="mr-badges-info">
                        @if (!String.IsNullOrEmpty(Model.Drawing.Date))
                        {
                            <div class="mr-badges-info-item">
                                📅 @Model.Drawing.FormattedDate
                            </div>
                        }
                        @if (!String.IsNullOrEmpty(Model.Drawing.Time))
                        {
                            <div class="mr-badges-info-item">
                                ⏱ @Model.Drawing.Time
                            </div>
                        }
                    </div>

                </div>

                <div class="mr-stats-container">
                    <div class="mr-stats-item" title="Views">
                        <i class="bi bi-eye"></i>
                        <span>@(drawing.Views + 1)</span>
                    </div>
                    <div class="mr-stats-item likes" title="Cheers">
                        <i class="bi bi-heart"></i>
                        <span id="spLikesCounter">@(drawing.Likes)</span>
                    </div>
                </div>

                <form id="cheerForm" asp-action="Cheer" asp-controller="Art"
                      data-ajax="true" data-ajax-method="POST"
                      data-ajax-begin="onBeginCheer" data-ajax-failure="OnFailureCheer"
                      data-ajax-success="onSuccessCheer" data-ajax-complete="onCompleteCheer">

                    <div class="mr-like-container">                          
                          <input type="hidden" name="id" value="@drawing.Id" />

                        <button id="btnCheer" type="button" class="btn btn-danger mr-like-button like-semaphore" onclick="cheerDrawing()">
                            <i id="iCheerIcon" class="bi bi-heart"></i> CHEER!
                        </button>
                    </div>
                 </form>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="mr-details-container">

                <div class="mr-chat-container">
                    @if (!String.IsNullOrEmpty(drawing.Comment))
                    {
                        <div class="mr-chat-row">
                            <div class="mr-chat-message-container">
                                <div class="mr-chat-message last">
                                        @Html.Raw(drawing.Comment)
                                </div>
                            </div>
                            <div class="mr-chat-image">
                                <img src="~/assets/images/miguel.jpeg" class="mr-chat-image-miguel" />
                            </div>
                        </div>
                    }
                    <div class="mr-chat-row">
                        <div class="mr-chat-message-container">
                            @if (!String.IsNullOrEmpty(Model.Drawing.CommentCons))
                            {
                                <div class="mr-chat-message likes">
                                        <ul>
                                            @foreach (var comment in Model.Drawing.ListCommentPros)
                                            {
                                                <li>@Html.Raw(comment)</li>
                                            }
                                        </ul>
                                </div>
                            }
                            @if (!String.IsNullOrEmpty(Model.Drawing.CommentCons))
                            {
                                <div class="mr-chat-message dislikes">
                                        <ul>
                                            @foreach (var comment in Model.Drawing.ListCommentCons)
                                            {
                                                <li>@comment</li>
                                            }

                                        </ul>
                                </div>
                            }
                        </div>
                        <div class="mr-chat-image">
                            @* <img src="~/assets/images/miguel.jpeg" class="mr-chat-image-miguel" /> *@
                        </div>
                    </div>
                </div>
                
                @* <div class="mr-details-section">
                    <span class="mr-details-section-title">
                        📅 Date
                    </span>
                    <span class="mr-details-section-content capitalize">
                        @(String.IsNullOrEmpty(Model.Drawing.Date) ? "No Date Known" : Model.Drawing.FormattedDate)
                    </span>
                </div>
                <div class="mr-details-section">
                    <span class="mr-details-section-title">
                        ⏱ Time (estimated)
                    </span>
                    <span class="mr-details-section-content capitalize">
                        @(String.IsNullOrEmpty(Model.Drawing.Time) ? "No Time Known" : Model.Drawing.Time)
                    </span>
                </div> *@
            </div>
        </div>
    </div>

}
else
{
    <h6>Not Found</h6>
}


@section Scripts {
    <script src="~/js/art-gallery.js"></script>
}