@using MRA.Web.Models.Art
@using MRA.Web.Models.Images
@model DetailsModel


<h1>Details</h1>

<h3>@Model.QueryId</h3>

@if (Model.Drawing != null)
{
    <h6>
        @Model.Drawing.Id
        <span class="badge rounded-pill @(Model.Drawing.IsTraditional ? "bg-secondary" : "bg-dark")">
            @(Model.Drawing.IsTraditional ? "Traditional" : "Digital")
        </span>
    </h6>


    <div class="mr-img-full-container">
        <img src="@Model.Drawing.Url" class="mr-img-full rounded">
    </div>

}
else
{
    <h6>Not Found</h6>
}