@using MRA.Services
@using MRA.Web.Models.Images
@model IndexModel

@{
    ViewData["Title"] = "Art Gallery";
}
<div>
    <h1>🎨 Art Gallery</h1>

    <p>
        Here there are some of my public drawings. <strong>Click any of them to see details</strong>.
    </p>
</div>


<form id="formFilter" asp-action="Filter" asp-controller="Art"
      data-ajax="true" data-ajax-method="POST"
      data-ajax-begin="onBeginFilter" data-ajax-failure="OnFailure"
      data-ajax-success="onSuccessFilter" data-ajax-complete="onCompleteFilter">
    <div class="row">
        <div class="mr-sort-filter-container" data-bs-theme="dark">
            <div class="mr-sort-filter">
                <span>
                    Sort by...
                </span>
                <select class="mr-custom-select filters form-select form-select-sm" name="Sortby" aria-label="Default select example" data-bs-theme="dark" onchange="sendFormFilterGallery()"
                        data-bs-theme="dark">
                    <option value="date-desc">Newest</option>
                    <option value="date-asc">Oldest</option>
                    <option value="name-asc">Name (ascending)</option>
                    <option value="name-desc">Name (descending)</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">

        <div id="formFilterAlert" class="alert alert-danger" style="display: none;" role="alert"></div>

        <span class="mr-suboption-filter">
            Filter by...
        </span>
        <div class="mr-filter-container">

            <select class="mr-custom-select form-select form-select-sm" name="Type" aria-label="Default select example" data-bs-theme="dark" onchange="sendFormFilterGallery()">
                <option value="0" selected>🖌 Type</option>

                @foreach(var type in MRA.Services.Firebase.Models.Drawing.DRAWING_TYPES)
                {
                    <option value="@(type.Key)">@(type.Value)</option>
                    
                }
            </select>


            <select class="mr-custom-select form-select form-select-sm" name="ProductType" aria-label="Default select example" data-bs-theme="dark" onchange="sendFormFilterGallery()">
                <option value="0" selected>💽 Product</option>

                @foreach (var type in MRA.Services.Firebase.Models.Drawing.DRAWING_PRODUCT_TYPES)
                {
                    <option value="@(type.Key)">@(type.Value)</option>

                }
            </select>

            <div class="form-check form-switch mr-choice-filter">
                <input class="form-check-input" name="Favorites" type="checkbox" role="switch" checked value="true" id="flexSwitchCheckChecked" onchange="sendFormFilterGallery()">
                <label class="form-check-label" for="flexSwitchCheckChecked">Choice</label>
            </div>

            @* <div>
                <input type="text" class="form-control" id="iFilterText" name="Textquery" placeholder="Search by Name" onchange="sendFormFilterGallery()">
            </div> *@
        </div>
    </div>

</form>
<div class="row mt-2">

    <div class="mr-loader-container">
        <div id="artGalleryLoader" class="mr-loader" style="display: none;">
            <img src="~/assets/bean eater-0.3s-200px.svg" class="mr-loading-icon-pacman" />
            <span class="mr-loader-subtitle">Filtering images. Please, wait.</span>
        </div>
        <div id="artGallery" class="mr-img-gallery">

            @foreach (var drawing in Model.Drawings)
            {
                await Html.RenderPartialAsync("Images/_ImageThumbnail", new ImageThumbnailModel(drawing));
            }
        </div>
        <div id="divNoResults" style="display: @(Model.Drawings.Count > 0 ? "none" : "block");">
            <span>
                Nothing found here..!
            </span>
            <h2>
                😔
            </h2>
            <span>
                Try again by filtering by other criteria.
            </span>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/js/art-gallery.js"></script>
}