@using MRA.Web.Models.Art
@using MRA.Web.Models.Images
@model ImageThumbnailModel


<div data-drawingId="@Model.Drawing.Id" class="mr-img-thumbnail cuadrado @(Model.Drawing.Favorite ? "favorite" : "")">
    <div class="contenido">

        @if (!String.IsNullOrEmpty(Model.Drawing.SpotifyTrackId))
        {
            <div class="mr-thumbnail-spotify-icon mr-img-thumbnail-info">
                <a href="@Model.Drawing.SpotifyUrl" target="_blank">
                    <i class="bi bi-spotify"></i>
                </a>
            </div>
        }

        <a class="mr-img-thumbnail-container slide-right" href="@Url.Action("Details", "Art", new { id = Model.Drawing.Id })">
            <img src="@(String.IsNullOrEmpty(Model.Drawing.PathThumbnail) ? Model.Drawing.Url: Model.Drawing.UrlThumbnail)" onerror="errorLoadingImage('@Model.Drawing.Id')"
                 loading="lazy" decoding="async">

            <div class="mr-error-load-placeholder" data-error-drawing-id="@Model.Drawing.Id">
                <span class="emoji">🙃</span>
                <span class="subtitle">Imagen No Encontrada</span>
            </div>
            
            <span class="mr-img-thumbnail-date mr-img-thumbnail-info">
                @(Model.Drawing.FormattedDateMini)
            </span>

            <div class="mr-img-thumbnail-details-container mr-img-thumbnail-info">

                <div class="mr-img-thumbnail-stats mr-img-thumbnail-info">
                    @* <div class="mr-img-thumbnail-stats-item">
                        <i class="bi bi-eye"></i>
                        <span>@Model.Drawing.Views</span>
                    </div> *@
                    <div class="mr-img-thumbnail-stats-item likes kudos">
                        <i class="bi bi-heart"></i>
                        <span>@(Model.Drawing.LikesHuman)</span>
                    </div>
                </div>

                    <div class="mr-img-thumbnail-score-container mr-img-thumbnail-info">
                        @if (Model.Drawing.ScoreCritic > 0)
                        {
                            <span class="mr-img-thumbnail-score miguel @DetailsModel.GetClassScore(Model.Drawing.ScoreCritic)">
                                @Model.Drawing.ScoreCritic
                            </span>
                        }
                        @if (Model.Drawing.ScorePopular > 0)
                        {
                            <span class="mr-img-thumbnail-score popular @DetailsModel.GetClassScore(Model.Drawing.ScorePopularHuman)">
                                @Model.Drawing.ScorePopularHuman
                            </span>
                        }
                    </div>


            </div>

            
            

            @if (!String.IsNullOrEmpty(Model.Drawing.Name) && !String.IsNullOrEmpty(Model.Drawing.ModelName))
            {

                <span class="mr-img-thumbnail-title mr-img-thumbnail-info">
                    <span>
                        @Model.Drawing.Name
                    </span>
                    <span class="mr-img-thumbnail-subtitle"><span style="font-size: x-small">por</span> @Model.Drawing.ModelName</span>
                </span>
            }
            else if (!String.IsNullOrEmpty(Model.Drawing.Name))
            {
                <span class="mr-img-thumbnail-title mr-img-thumbnail-info">@Model.Drawing.Name</span>
            }
            else if (!String.IsNullOrEmpty(Model.Drawing.ModelName))
            {

                <span class="mr-img-thumbnail-title mr-img-thumbnail-info">@Model.Drawing.ModelName</span>
            }else{
                <span class="mr-img-thumbnail-title mr-img-thumbnail-info"> </span>
            }

        </a>
    </div>
</div>