@using MRA.Web.Models.Images
@model ImageThumbnailModel


<div data-drawingId="@Model.Drawing.Id" class="mr-img-thumbnail cuadrado @(Model.Drawing.Favorite ? "favorite" : "")">
    <div class="contenido">

        <a class="mr-img-thumbnail-container slide-right" href="@Url.Action("Details", "Art", new { id = Model.Drawing.Id })">
            <img src="@(String.IsNullOrEmpty(Model.Drawing.PathThumbnail) ? Model.Drawing.Url: Model.Drawing.UrlThumbnail)" onerror="errorLoadingImage('@Model.Drawing.Id')">

            <div class="mr-error-load-placeholder" data-error-drawing-id="@Model.Drawing.Id">
                <span class="emoji">🙃</span>
                <span class="subtitle">Imagen No Encontrada</span>
            </div>


            <span class="mr-img-thumbnail-date mr-img-thumbnail-info">
                @(Model.Drawing.FormattedDateMini)
            </span>

            @if (!String.IsNullOrEmpty(Model.Drawing.Name) && !String.IsNullOrEmpty(Model.Drawing.ModelName))
            {

                <span class="mr-img-thumbnail-title mr-img-thumbnail-info">
                    <span>
                        @Model.Drawing.Name
                    </span>
                    <span class="mr-img-thumbnail-subtitle"><span style="font-size: x-small">por</span> @Model.Drawing.ModelName</span>
                </span>
            }
            else if (!String.IsNullOrEmpty(Model.Drawing.Name))
            {
                <span class="mr-img-thumbnail-title mr-img-thumbnail-info">@Model.Drawing.Name</span>
            }
            else if (!String.IsNullOrEmpty(Model.Drawing.ModelName))
            {

                <span class="mr-img-thumbnail-title mr-img-thumbnail-info">@Model.Drawing.ModelName</span>
            }else{
                <span class="mr-img-thumbnail-title mr-img-thumbnail-info"> </span>
            }

            <div class="mr-img-thumbnail-stats mr-img-thumbnail-info">
                <div class="mr-img-thumbnail-stats-item">
                    <i class="bi bi-eye"></i>
                    <span>@Model.Drawing.Views</span>
                </div>
                <div class="mr-img-thumbnail-stats-item likes">
                    <i class="bi bi-heart"></i>
                    <span>@(Model.Drawing.Likes)</span>
                </div>
            </div>
        </a>
    </div>
</div>