@using MRA.DTO.Firebase.Models
@model Experience

<div class="mr-portofolio-img portfolio-item" style="--mr-company-color: @(Model.BannerColor);">
    <div class="mr-banner">
        <div class="container">
            <h3>
                @if (!String.IsNullOrEmpty(Model.LogoSrc))
                {
                    <img class="mr-company-logo" src="~/assets/images/logo_sopra.png" />
                }
                @if (!String.IsNullOrEmpty(Model.Link))
                {
                    <a href="@Model.Link" target="_blank">@Model.Empresa</a>    
                }
                else
                {
                    @Model.Empresa
                }
            </h3>
            <div class="mr-portofolio-time">
                @Model.Periodo
            </div>
            @if (!String.IsNullOrEmpty(Model.Address))
            {
                <div class="mr-portofolio-address hide-print">
                    @Model.Address    
                </div>
            }
        </div>
    </div>
</div>
<div class="mr-experience-details" style="--mr-company-color: @(Model.BannerColor);">
    <div class="container">
        <div class="row details">
            <div class="portfolio-item col-sm-12 col-md-4">
                <p>
                    @Model.Descripcion
                </p>
            </div>

            <div class="portfolio-item col-sm-6 col-md-4">
                <h4>
                    Tecnología
                </h4>
                <div class="mr-competencias">
                    <ul>
                        @foreach (var tec in Model.Tecnologias)
                        {
                            <li>
                                @tec
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="portfolio-item mr-aptitudes col-sm-6 col-md-4">
                <h4>
                    Aptitudes
                </h4>
                <div class="mr-aptitudes-list">
                    @foreach (var ap in Model.Aptitudes)
                    {
                        <span class="item">
                            @ap
                        </span>
                    }
                </div>
            </div>
        </div>
    </div>
    @foreach (var subcont in Model.ProyectosSubcontratados.OrderByDescending(x => x.Orden))
    {
        await Html.RenderPartialAsync("ExperienceView", subcont);
    }
</div>