@model DetailsSectionModel


<div class="@(Model.Tags ? "col-sm-12 col-md-12 col-lg-12" : "col-sm-12 col-md-6 col-lg-4 ") mr-details-section">
    <span class="mr-details-section-title hvr-underline-reveal">
        @Model.Title
    </span>
    <div class="mr-details-section-content @(Model.Capitalize ? "capitalize" : "") @(Model.Large ? "large" : "")">
        @if(Model.ListaItems.Count > 0)
        {
            <ul>
                @foreach(var item in Model.ListaItems)
                {
                    <li>
                        @item
                    </li>
                }
            </ul>
        }
        @if(!String.IsNullOrEmpty(Model.RawText))
        {
            if (Model.Tags)
            {
                <div class="mr-tag-container">
                    @foreach(var tag in Model.RawText.Split(";"))
                    {
                        <span class="mr-tag">
                            @tag.Replace(" ", "")
                        </span>
                    }
                </div>
            }
            else
            {
                <div>
                    @Html.Raw(Model.RawText)
                </div>
            }
        }
    </div>
</div>